In [1]:
import pandas as pd
import numpy as np

In [2]:
base = pd.read_csv("bd-transaçoes.csv")
print(base.head())

   id_transacao        data  cliente_id          cidade estado  valor  \
0             1  2026-01-02         101       São Paulo     SP  250.9
1             2  2026-01-03         102        Campinas     SP   89.9
2             3  2026-01-03         103  Belo Horizonte     MG  450.0
3             4  2026-01-04         104  Rio de Janeiro     RJ   39.9
4             5  2026-01-05         101       São Paulo     SP  120.0

  forma_pagamento    status    categoria
0         credito  aprovado  eletronicos
1             pix  aprovado         moda
2         credito  aprovado  eletronicos
3          boleto  recusado       livros
4             pix  aprovado         casa

In [3]:
print(base.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_transacao     12 non-null     int64
 1   data             12 non-null     object
 2   cliente_id       12 non-null     int64
 3   cidade           12 non-null     object
 4   estado           12 non-null     object
 5   valor            12 non-null     float64
 6   forma_pagamento  12 non-null     object
 7   status           12 non-null     object
 8   categoria        12 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 996.0+ bytes
None

In [4]:
print(base.describe())

       id_transacao  cliente_id       valor
count     12.000000   12.000000   12.000000
mean       6.500000  104.833333  293.007500
std        3.605551    3.157483  307.638712
min        1.000000  101.000000   39.900000
25%        3.750000  102.000000   82.400000
50%        6.500000  104.500000  185.000000
75%        9.250000  107.250000  345.000000
max       12.000000  110.000000  999.990000

1) Qual o valor total vendido (somente status = aprovado)?

In [11]:
base[base["status"] == "aprovado"]

,id_transacao,data,cliente_id,cidade,estado,valor,forma_pagamento,status,categoria
0,1,2026-01-02,101,São Paulo,SP,250.90,credito,aprovado,eletronicos
1,2,2026-01-03,102,Campinas,SP,89.90,pix,aprovado,moda
2,3,2026-01-03,103,Belo Horizonte,MG,450.00,credito,aprovado,eletronicos
4,5,2026-01-05,101,São Paulo,SP,120.00,pix,aprovado,casa
5,6,2026-01-05,105,Curitiba,PR,780.50,credito,aprovado,eletronicos
6,7,2026-01-06,106,Salvador,BA,59.90,pix,aprovado,moda
8,9,2026-01-07,108,São Paulo,SP,45.00,boleto,aprovado,livros
9,10,2026-01-08,109,Belo Horizonte,MG,999.99,credito,aprovado,eletronicos
10,11,2026-01-09,102,Campinas,SP,150.00,pix,aprovado,casa
11,12,2026-01-10,110,Rio de Janeiro,RJ,220.00,credito,aprovado,moda

In [12]:
aprovados = base[base["status"] == "aprovado"]

In [13]:
total_vendido_aprovados = base[base["status"] == "aprovado"]["valor"].sum()

In [14]:
print(total_vendido_aprovados)

3166.1899999999996

2) Qual a forma de pagamento mais usada?

In [15]:
print(base.head())

   id_transacao        data  cliente_id          cidade estado  valor  \
0             1  2026-01-02         101       São Paulo     SP  250.9
1             2  2026-01-03         102        Campinas     SP   89.9
2             3  2026-01-03         103  Belo Horizonte     MG  450.0
3             4  2026-01-04         104  Rio de Janeiro     RJ   39.9
4             5  2026-01-05         101       São Paulo     SP  120.0

  forma_pagamento    status    categoria
0         credito  aprovado  eletronicos
1             pix  aprovado         moda
2         credito  aprovado  eletronicos
3          boleto  recusado       livros
4             pix  aprovado         casa

In [16]:
base["forma_pagamento"].unique()

array(['credito', 'pix', 'boleto'], dtype=object)

In [24]:
credito = base["forma_pagamento"] == "credito"

In [25]:
pix = base["forma_pagamento"] == "pix"

In [27]:
boleto = base["forma_pagamento"] == "boleto"

In [29]:
credito.sum()

np.int64(6)

In [30]:
pix.sum()

np.int64(4)

In [31]:
boleto.sum()

np.int64(2)

3) Qual categoria mais vendeu (em valor)?

In [33]:
base.head()

,id_transacao,data,cliente_id,cidade,estado,valor,forma_pagamento,status,categoria
0,1,2026-01-02,101,São Paulo,SP,250.9,credito,aprovado,eletronicos
1,2,2026-01-03,102,Campinas,SP,89.9,pix,aprovado,moda
2,3,2026-01-03,103,Belo Horizonte,MG,450.0,credito,aprovado,eletronicos
3,4,2026-01-04,104,Rio de Janeiro,RJ,39.9,boleto,recusado,livros
4,5,2026-01-05,101,São Paulo,SP,120.0,pix,aprovado,casa

In [34]:
base["categoria"].value_counts()

categoria
eletronicos    5
moda           3
livros         2
casa           2
Name: count, dtype: int64

In [40]:
aprovados = base[base["status"] == "aprovado"]

In [41]:
aprovados.groupby("categoria")["valor"].sum()

categoria
casa            270.00
eletronicos    2481.39
livros           45.00
moda            369.80
Name: valor, dtype: float64

In [42]:
aprovados.groupby("categoria")["valor"].sum().idxmax()

'eletronicos'

4) Qual estado teve maior volume financeiro aprovado?

In [43]:
base.head()

,id_transacao,data,cliente_id,cidade,estado,valor,forma_pagamento,status,categoria
0,1,2026-01-02,101,São Paulo,SP,250.9,credito,aprovado,eletronicos
1,2,2026-01-03,102,Campinas,SP,89.9,pix,aprovado,moda
2,3,2026-01-03,103,Belo Horizonte,MG,450.0,credito,aprovado,eletronicos
3,4,2026-01-04,104,Rio de Janeiro,RJ,39.9,boleto,recusado,livros
4,5,2026-01-05,101,São Paulo,SP,120.0,pix,aprovado,casa

In [47]:
aprovados.groupby("cidade")["valor"].sum().idxmax()

'Belo Horizonte'

5) Visualizar ranking completo

In [48]:
aprovados.groupby("cidade")["valor"].sum().sort_values(ascending=False)

cidade
Belo Horizonte    1449.99
Curitiba           780.50
São Paulo          415.90
Campinas           239.90
Rio de Janeiro     220.00
Salvador            59.90
Name: valor, dtype: float64

5) Qual cliente mais gastou?

In [49]:
aprovados.groupby("cliente_id")["valor"].sum().idxmax()

np.int64(109)